/*reset default styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;  /*This is to avoid overflowing of elements*/
}

body {
	background-color: white;
	font-family: 'Merriweather', serif;
	text-align: center;
}

header {
	padding: 40px;
}

header > h1 {
	margin-bottom: 11px;
}

header > h1 > a {
	color: rgb(51,51,51);
	text-decoration: none;
	font-size: 50px;
}

/*to change the color of header link when hovering, transition property referred from the source code*/
header > h1 > a:hover {
	color: #0099cc;
	transition: .23s ease-in;
}

header > h2 {
	color: rgb(172,172,172);
	font-size: 22px;
}

nav {
	border-top: 1px solid rgb(248, 248, 248);
	border-bottom: 1px solid rgb(248, 248, 248);
	margin-top: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;


}

nav > ul > li {
	display: inline-block;
	padding: 16px;
}

nav > ul > li > a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin: 10px;
}

nav > ul > li > a:hover {
	color: #0099cc;
	transition: .23s ease-in;
}

main {
	margin-top: 90px;
}

.dailyEntry {
	margin: 50px;
}


.entryTitle > a {
	text-decoration: none;
	color: #333;
	font-size: 42px;
}

/*to change color of entry title when hovering*/
.entryTitle > a:hover { 
	color: #0099cc; 
	transition: .23s ease-in;
}

/*size of image in the daily entry*/
.imageEntry { 
	height: 400px;
	width: 800px;
}

.backHome {
	margin: 16px;
}

.backHome > a {
	text-decoration: none;
	color: #09c;
}

.backHome > a:hover {
	text-decoration: none;
	color: #333;
	transition: .23s ease-in;
}